
footer {
    background-color: #353535;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 0px;
    margin-top: 127px;
    max-width: 100%;
    min-width: 320px;

    h3 {
        font-family: "Shrikhand" ;
        margin: 0 0 10px 20px;
        color: #e6e6e6;
        font-weight: normal;
        display: block;
        
        @media screen and (min-width: 525px) {
            text-align: center;
        }
        
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
        color: #FFF;
    }

    .footer__logo {
        font-weight: 900;
        font-style: italic;
        font-size: 25px;
        margin-bottom: 15px;
    }

}