* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Shrikhand', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.container-all {
    max-width: 2560px;
}

body {
    box-sizing: border-box;
}