* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Shrikhand', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    // @media screen and (max-width:550px) {
    //      width: 100%;
    //      text-align: -webkit-center;
    // }
   
}

.container {
    max-width: 2560px;
}

body {
    box-sizing: border-box;
}
button{
    border: none;
}